html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin-left: 40%;
  display:inline-block;
  text-align: center;

  color:rgb(235, 235, 235);
  text-shadow: 0 0 4px white;
  font-size: 70px
}